.screen-3 {
    background: #f1f7fe;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 1.5em;
    margin-top: 15%;
    margin-bottom: 2%;
    height: 675px;
    width: 400px;
  }
  .screen-3 .logo {
    margin-left: 5em;
    width: 10em;
    height: 10em;
  }

  .screen-3 .email {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
  }
  .screen-3 .email input {
    outline: none;
    border: none;
  }
  .screen-3 .email input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-3 .email input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-3 .email input::placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-3 .email img {
    color: #4d4d4d;
    margin-bottom: -0.2em;
    height: 1em;
    width: 1em;
  }
  .screen-3 .password {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
  }
  .screen-3 .password input {
    outline: none;
    border: none;
  }
  .screen-3 .password input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-3 .password input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-3 .password input::placeholder {
    color: black;
    font-size: 0.9em;
  }
  .screen-3 .password img {
    color: #4d4d4d;
    margin-bottom: -0.2em;
    height: 1em;
    width: 1em;
  }
  .screen-3 .password .show-hide {
    margin-right: -5em;
  }
  .screen-3 .login {
    padding: 1em;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    margin-left: 5em;
    width: 10em;
  }
  .screen-3 .footer {
    display: flex;
    font-size: 0.7em;
    color: #5e5e5e;
    gap: 14em;
    padding-bottom: 10em;
  }
  .screen-3 .footer span {
    cursor: pointer;
    width: 5em;
  }
  
  button {
    cursor: pointer;
  }

  .form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}